@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
body{
    font-family: Instrument Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FFF9F5;
}

.header {
    font-family: Instrument Serif;
    text-align: center;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 4% 0;
}
.title{
    font-family: Instrument Serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #462B20;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Các ảnh nằm ngang với nhau */
}

.main-left {
    margin-top: 130px;
    width: 560px;
    height: 691px;
    margin-right: 10px;
}

.floral,
.decor,
.hair,
.lighting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 58px;
    height: 58px;
    margin: 0px;
}
hr{
    margin: 0px;
}
.main-left img {
    width: 100%;
    height: auto;
    max-height: 45%;
    margin-bottom: 20px;
}


.main-left i {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-left h3 {

    font-family: Instrument Serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #462B20;

}

.main-left p {

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #42291F;


}

.main-right img {
    width: 100%;
    height: auto;
}

.main-right {
    width: 706px;
    height: 991px;
    margin-left: 110px;
}

.content {
    display: none;
    width: 90%;
}

.content.active {
    display: block;
}

/* Responsive design for smaller screens (e.g., phones) */
@media screen and (max-width: 768px) {

    .main-left,
    .main-right {
        width: 100%;
        margin: 2% 0;
    }
}